In [1]:
# import necessary libraries/packages
import pandas as pd
import numpy as np
import os
from glob import glob
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

**User guide notes about data format** 
(provided with dataset download):

Line 1…6 are useless in this dataset, and can be ignored. Points are described in following lines, one for each line.

- Field 1: Latitude in decimal degrees.
- Field 2: Longitude in decimal degrees.
- Field 3: All set to 0 for this dataset.
- Field 4: Altitude in feet (-777 if not valid).
- Field 5: Date - number of days (with fractional part) that have passed since 12/30/1899.
- Field 6: Date as a string.
- Field 7: Time as a string.

Note that field 5 and field 6&7 represent the same date/time in this dataset. You may use either of them.

In [9]:
# function for loading specific invidual PLT file given file_path
def load_plt_file(file_path):

    # load file as df while skipping first six rows (unneeded header info)
    plt_df = pd.read_csv(file_path, skiprows = 6, header = None)

    # assign columns
    plt_df.columns = [
        'latitude',
        'longitude', 
        'zero_field',
        'altitude_ft',
        'date_days',
        'date_string',
        'time_string'
    ]

    return plt_df

In [10]:
plt_df_1 = load_plt_file(r"../Data/GeoLife_Data/000/Trajectory/20081023025304.plt")
plt_df_1

             0           1  2    3             4           5         6
0    39.984702  116.318417  0  492  39744.120185  2008-10-23  02:53:04
1    39.984683  116.318450  0  492  39744.120255  2008-10-23  02:53:10
2    39.984686  116.318417  0  492  39744.120313  2008-10-23  02:53:15
3    39.984688  116.318385  0  492  39744.120370  2008-10-23  02:53:20
4    39.984655  116.318263  0  492  39744.120428  2008-10-23  02:53:25
..         ...         ... ..  ...           ...         ...       ...
903  40.009172  116.321211  0   88  39744.465880  2008-10-23  11:10:52
904  40.009204  116.321130  0   86  39744.465937  2008-10-23  11:10:57
905  40.009243  116.321050  0   85  39744.465995  2008-10-23  11:11:02
906  40.009269  116.320978  0   84  39744.466053  2008-10-23  11:11:07
907  40.009328  116.320887  0   83  39744.466111  2008-10-23  11:11:12

[908 rows x 7 columns]